
# Temporary Files Extensions
*~
*.swp
*.swo
*.jou
*.x
*.so
*.log
*.out
*.tar.gz
*.tar.xz
*.pth
*.out
*.o
*.npy
*.txt
*.spyproject
*ninja*
!*CMakeLists.txt
*.cmake
!cmake/*.cmake
*.profraw
*.profdata
coverage_report/
coverage/

# Temporary Folders

build/

# Temporary Directories
*_
*temp
*data
*old
*workspace
cmake-build*/
build*/
out*/
exports/
.DS_Store

# VScode Files
.vscode

# PyCharm Files
.idea